{% extends 'base.html' %}

{% load static %}

{% block section %}
   <h2>
       {{ object.first_name }} {{ object.last_name }}
       {% if object.player_id %}
         ( <a href="{% url "player-detail" object.player_id %}">
             {{ object.player }}
           </a> )
       {% endif %}
    </h2>
    <p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p>
   <hr>
{% endblock section %}

{% block maincontent %}
<div>
 <div>
     <img src="{% static object.photo.url %}" style="width:170px;height:200px" />
 </div>
</div>
{% endblock maincontent %} 